#inputContainer {
    display: flex;
}

#inputButton {
    height: 100px;
    width: 100px;
    margin: 3px;
    border-radius: 5px;
}

#inputButton > span {
    display: flex;
    width: 100%;
    font-size: 80px;
    justify-content: center;
    text-align: center;
}

#letterCluster, #letterCluster > div, #opCluster, #arrowCluster {
    display: flex;
    margin: 0 20px;
}

#letterCluster, #arrowCluster {
    flex-direction: column;
}

#letterCluster > div, #opCluster {
    flex-direction: row;
}

#emergencyButton {
    height: fit-content;
    background-color: #f3d032;
    border-radius: 20px;
}

