body {
    margin: 0;
    background-color: dimgray;
    font-family: 'Fira Sans', sans-serif;
}

#container {
    height: 100vh;
    width: 100vw;
}

#container > div {
    display: flex;
    height: 50%;
}

#container > div > div {
    width: 50%;
    height: auto;
}

#threeD {
    background-color: lightblue;
}

#dataTable {
    background-color: darkred;
}

#graph {
    background-color: blueviolet;
}

#input {
    background-color: green;
}
