#inputContainer {
    display: flex;
}

.inputLetter {
    display: flex;
    width: 100%;
    font-size: 80px;
    justify-content: center;
    text-align: center;
}

#controllerInput {
    display: flex;
}

#joystick {
    display: flex;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: firebrick;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
}

#shadow {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: darkgoldenrod;
}

#stick {
    display: flex;
    height: 70px;
    width: 70px;
    background-color: #f3d032;
    border-radius: 50%;
    z-index: 2;
}

#joystick span {
    font-size: 60px;
}

#keyboardInput {
    display: flex;
}

#inputButton {
    height: 100px;
    width: 100px;
    margin: 3px;
    border-radius: 5px;
}

#letterCluster, #letterCluster > div {
    display: flex;
    margin: 0 20px;
}

#letterCluster, #arrowCluster {
    flex-direction: column;
}

#letterCluster > div, #opCluster {
    flex-direction: row;
}

#emergencyButton {
    height: fit-content;
    width: fit-content;
    background-color: #f3d032;
    border-radius: 20px;
}

#onOffButtons {
    display: flex;
    flex-direction: column;
}

#emergencyButton > img {
    height: 100px;
}

#spreaderButton {
    border-radius: 10px;
    font-size: 50px;
    height: fit-content;
    padding: 5px;
    margin: 6px;
}

#ABXYContainer {
    display: flex;
}

#ABXYRowSide {
    display: flex;
    align-items: center;
}

#ABXYRowMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#ABXYContainer #inputButton {
    height: calc(100px/3);
    width: calc(100px/3);
    margin: 3px;
    border-radius: 5px;
}

#ABXYContainer .inputLetter {
    display: flex;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

